html {
    height: 100%;
    width: 100%;
  }

  body {
  background-color: #484848; /* Un gris muy claro */
}
  h3 {
  color: greenyellow;

  }
  
  .blue {
    color: aqua;
    font-weight: bold;
  }

  .red {
    color: crimson;
    font-weight: bold;
  }